$border-radius: 0px;
$z-index: 1050;
$color-border: darken(white, 5%);

.rmck-modal {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index;
  outline: 0;

  &__dialog {
    position: relative;
    max-width: 500px;
    margin: 1.75rem auto;
    pointer-events: none;
    width: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: calc(100% - (1.75rem * 2));
  }

  &__content {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: white;
    background-clip: padding-box;
    outline: 0;
    display: flex;
    box-sizing: border-box;
    border-radius: $border-radius;
  }

  &__header {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    border-radius: $border-radius $border-radius 0 0;
    border-bottom: 1px solid $color-border;
  }

  &__header-inner {
    flex: auto;
    padding: 1em;
  }

  &__btn-close {
    flex: none;
    padding: 1em;
    border: none;
    line-height: 1.5;
    outline: 0;
    cursor: pointer;
    border-top-right-radius: $border-radius;
    display: flex;
  }

  &__body {
    padding: 1em;
    max-height: calc(100% - 9rem);
    background-color: white;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__footer {
    padding: 1em;
    display: flex;
    background-color: white;
    border-top: 1px solid $color-border;
    border-radius: 0 0 $border-radius $border-radius;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: flex-end;

    > :not(:last-child) {
      margin-right: .25rem;
    }
  }

  &__fade {
    opacity: 0;
    transition: opacity .15s linear;

    .rmck-modal__dialog {
      transform: scale(1.05);
      transition: transform .3s ease-out;
    }

    &.rmck-modal__show {
      opacity: 1;

      .rmck-modal__dialog {
        transform: scale(1);
      }
    }
  }
}

.rmck-modal-open {
  overflow: hidden;

  .rmck-modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
