$primary-color: #2ECC71;
$border-radius: 2px;
$color-border: #f2f2f2;

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: #212529;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.modal {
  &__dialog {
    padding: 1em;
  }

  &__content {
    border-radius: $border-radius;
  }

  &__header {
    padding: 1em;
    background-color: $primary-color;
    color: white;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &__footer {
    border-top: 1px solid $color-border;
    padding: 1em;
  }

  &__body {
    padding: 1em;
  }
}
